body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0 4em;
  min-width: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 1em 0 0.25em;
  max-width: 16em;
}
p,
li {
  margin: 0;
  padding: 0.75em 0 0.25em;
  max-width: 24rem;
}
ul {
  max-width: 24rem;
  padding-left: 2rem;
  margin: 0;
}
h1 {
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}

pre {
  background-color: floralwhite;
  border: 1px solid lightgray;
  padding: 0.5em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 6px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: stretch;
  min-width: 0;
  max-width: 100%;
  flex: 1 1 auto;
  position: relative;
}

input {
  font-family: monospace;
  padding: 0.3em 0.5em;
  font-size: 120%;
  border: 1px solid black;
  min-width: 0;
  max-width: 100%;
  width: 50rem;
  flex: 0 1 auto;
}

label {
  flex: 1 1 auto;
  min-width: 0;
  padding: 1em 0 0.25em;
}
