name: Go
on:
  - pull_request
  - workflow_dispatch
jobs:
  utf64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "utf64/go/go.mod"
      - working-directory: ./utf64/go
        run: go test
